body{
    background-color: beige;
}

.aa {
    position: absolute;
    left: 40%;
    top: 30%;
}

.hh {
    color: rgb(7, 103, 45);
    background-color:darkseagreen;
    border: 1px solid rgb(7, 106, 47);
    border-radius: 30%;
    padding-left: 65px;
}